parameters:
	ignoreErrors:
		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 1
			path: src/Models/PoolAdmin.php

		-
			message: "#^Method Dimimo\\\\Pool\\\\Models\\\\PoolAdmin\\:\\:user\\(\\) has invalid return type App\\\\Models\\\\User\\.$#"
			count: 1
			path: src/Models/PoolAdmin.php

		-
			message: "#^Method Dimimo\\\\Pool\\\\Models\\\\PoolAdmin\\:\\:user\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\User, Dimimo\\\\Pool\\\\Models\\\\PoolAdmin\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<Illuminate\\\\Database\\\\Eloquent\\\\Model, Dimimo\\\\Pool\\\\Models\\\\PoolAdmin\\>\\.$#"
			count: 1
			path: src/Models/PoolAdmin.php

		-
			message: "#^Type App\\\\Models\\\\User in generic type Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\User, Dimimo\\\\Pool\\\\Models\\\\PoolAdmin\\> in PHPDoc tag @return is not subtype of template type TRelatedModel of Illuminate\\\\Database\\\\Eloquent\\\\Model of class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\.$#"
			count: 1
			path: src/Models/PoolAdmin.php

		-
			message: "#^Class App\\\\Models\\\\User not found\\.$#"
			count: 1
			path: src/Models/PoolPlayer.php

		-
			message: "#^Method Dimimo\\\\Pool\\\\Models\\\\PoolPlayer\\:\\:user\\(\\) has invalid return type App\\\\Models\\\\User\\.$#"
			count: 1
			path: src/Models/PoolPlayer.php

		-
			message: "#^Method Dimimo\\\\Pool\\\\Models\\\\PoolPlayer\\:\\:user\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\User, Dimimo\\\\Pool\\\\Models\\\\PoolPlayer\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<Illuminate\\\\Database\\\\Eloquent\\\\Model, Dimimo\\\\Pool\\\\Models\\\\PoolPlayer\\>\\.$#"
			count: 1
			path: src/Models/PoolPlayer.php

		-
			message: "#^Type App\\\\Models\\\\User in generic type Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\<App\\\\Models\\\\User, Dimimo\\\\Pool\\\\Models\\\\PoolPlayer\\> in PHPDoc tag @return is not subtype of template type TRelatedModel of Illuminate\\\\Database\\\\Eloquent\\\\Model of class Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\BelongsTo\\.$#"
			count: 1
			path: src/Models/PoolPlayer.php
